<app-navbar [currentPage]="'IONI PAH-i'"></app-navbar>
<div class="row justify-content-around mt-5"> 
    <div (click)="izberiKategorijo(kategorije.Depozicije_dnevne)" class="card col-5 py-3 mb-2 text-center shadowOnHover " [ngClass]="izbranaKategorija == kategorije.Depozicije_dnevne ? 'shadowAlways' : ''">
        <div class="card-body ">
            <h1 class="m-0">Depozicije - dnevne</h1>
        </div>
    </div>
    <div (click)="izberiKategorijo(kategorije.Koncentracije_dnevne)" class="card col-5 py-3 mb-2 text-center shadowOnHover " [ngClass]="izbranaKategorija == kategorije.Koncentracije_dnevne ? 'shadowAlways' : ''">
        <div class="card-body ">
            <h1 class="m-0">Koncentracije - dnevne</h1>
        </div>
    </div>
    <div (click)="izberiKategorijo(kategorije.Depozicije_tedenske)" class="card col-5 py-3 text-center shadowOnHover " [ngClass]="izbranaKategorija == kategorije.Depozicije_tedenske ? 'shadowAlways' : ''">
        <div class="card-body ">
            <h1 class="m-0">Depozicije - tedenske</h1>
        </div>
    </div>
    <div (click)="izberiKategorijo(kategorije.Koncentracije_tedenske)" class="card col-5 py-3 text-center shadowOnHover " [ngClass]="izbranaKategorija == kategorije.Koncentracije_tedenske ? 'shadowAlways' : ''">
        <div class="card-body ">
            <h1 class="m-0">Koncentracije - tedenske</h1>
        </div>
    </div>
</div>
<div class="row justify-content-around mt-5"> 
    <app-input-collector ></app-input-collector>
</div>
<div class="container" *ngIf="displayData">
</div>