<app-navbar [currentPage]="'PM-DELCI'"></app-navbar>
<div class="row justify-content-around mt-5" > 
    <div  (click)="SelectMode(Modes.EditOnlyEMEPAndValidity)" class="card col-4 py-3 text-center shadowOnHover " [ngClass]="Mode == Modes.EditOnlyEMEPAndValidity ? 'shadowAlways' : ''">
        <div class="card-body">
            <h1>Urejanje podatkov</h1>
        </div>
    </div>
    <div (click)="SelectMode(Modes.Import)" class="card col-4 py-3 text-center shadowOnHover " [ngClass]="Mode == Modes.Import ? 'shadowAlways' : ''">
        <div class="card-body">
            <h1>Vnos podatkov</h1>
        </div>
    </div>
</div>

<div class="row justify-content-around mt-5">
    <app-input-collector *ngIf="inputs" [inputs]="inputs" [name]="'PM delci'" [handler] ="handler"></app-input-collector>
</div>
<div class="mt-5 pt-3" *ngIf="GatheringData">
    <mat-spinner [ngStyle]="{'margin':'auto'}"  ></mat-spinner>
</div>
<ng-container TableDirective>
</ng-container>
