<div class="" *ngIf="(columnData != null && allEmepData != null) else Loading">
    <div class="modal-header  justify-content-center">
        <p class="modal-title h3"><b>{{columnData.DisplayName}}</b></p>
    </div>
    <div class="modal-header noBorder justify-content-center row ">
        <p class="modal-title h3 col-8"><b>{{rowData.RowName.DisplayName}}</b></p>
    </div>
    <div class="modal-header noBorder justify-content-between row ">
        <div class="modal-title h3 col-6">
           <!-- ce podatke za prikaz, prikazemo popup-->
           <ng-container *ngIf="CellHasDataOnlyForDisplay() else NoDisplayPropertiesButton">
            <div [tippy]="PopupComponent" [data]="{ 
                PopupData: GetCellPopupData(),
                TablePopupDisplayMode: TablePopupDisplayModes.DisplayPropertiesOnly
               }" class="btn btn-outline-primary">DODATNI PODATKI</div>
        </ng-container>
        <ng-template #NoDisplayPropertiesButton>
            <div class="btn btn-outline-primary disabled">DODATNI PODATKI</div>
        </ng-template>
        </div>

        <ng-container
            *ngIf="CellData != null && (mode == modes.EditOnlyEMEP || mode == modes.FromRowMode) && DisplayButtons()">
            <div class="modal-title h3 col-3  text-center"
                *ngIf="CellData.ChangedVeljavnost== true;then Veljaven else Neveljaven"></div>
            <ng-template #Neveljaven>
                <div class="modal-title h3 col-3 disabled btn btn-outline-danger text-center"><b>Neveljaven</b></div>
            </ng-template>
            <ng-template #Veljaven>
                <div class="modal-title h3 col-3 disabled btn btn-outline-success text-center"><b>Veljaven</b></div>
            </ng-template>
        </ng-container>
        <ng-container
            *ngIf="CellData != null && mode != modes.EditOnlyEMEP && mode != modes.FromRowMode && DisplayButtons()">
            <div class="modal-title h3 col-3  text-center"
                *ngIf="CellData.ChangedVeljavnost== true;then Veljaven else Neveljaven"></div>
            <ng-template #Neveljaven><button class="modal-title h3 col-3 btn btn-outline-danger text-center"
                    [ngClass]="IsForcedInvalid() ? 'disabled' : ''"
                    (click)="ChangeVeljavnost(true)"><b>Neveljaven</b></button></ng-template>
            <ng-template #Veljaven><button class="modal-title h3 col-3 btn btn-outline-success text-center"
                    (click)="ChangeVeljavnost(false)"><b>Veljaven</b></button></ng-template>
        </ng-container>
        <ng-container *ngIf="DisplayButtons() == false">
            <div class="modal-title h3 col-3 btn  text-center disabled "
                [ngClass]="CellData.veljavnost == true ?'btn-outline-success': 'btn-outline-danger'">
                <b>{{CellData.veljavnost == true ?'Veljaven': 'Neveljaven'}}</b>
            </div>
        </ng-container>

    </div>
    <div class="my-5" *ngFor="let props of GetCellProperties()">
        <div class="continer row justify-content-center w-80" *ngIf="CellValues[props.Property] != null">
            <div class="col-4  h4 text-end ">
                <b>{{props.PropertyDisplayName}}</b>
            </div>
            <div class="col-4 h4 text-start">
                <input *ngIf="DisplayEditValues(); else DisplayOnlyValue"
                    placeholder={{this.CellData.Value[props.Property]}} [(ngModel)]="CellValues[props.Property]">
                <ng-template #DisplayOnlyValue>
                    <p>{{CellValues[props.Property]}}</p>
                </ng-template>

            </div>
        </div>
    </div>
    <div class=" container my-4">
        <div class="form-group" *ngIf="DisplayButtons();">
            <label for="opombeTE"> <b>komentar SKZ:</b> </label>
            <textarea [(ngModel)]="OpombaSKZ" placeholder="{{InitialOpombaSKZ}}" class="form-control" id="opombeTE"
                rows="3"></textarea>
        </div>
    </div>
    <div *ngIf="CellData != null">
        <div class=" row justify-content-center text-center dropdown mb-2" *ngIf="CellData.PopupData.EmepData">
            <p class="h3"><b>Emep zastavice:</b></p>
        </div>
        <ng-container *ngIf="DisplayButtons(); then EditEMEP else DisplayOnlyEMEP"></ng-container>
        <ng-template #EditEMEP>
            <div class=" row justify-content-center text-center dropdown mb-2" *ngFor="let i of [0,1,2]">
                <button class="btn btn-secondary dropdown-toggle col-8" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [ngStyle]="{'color': CellData.ChangedEmepData[i].DisplayColorDark}"><b>{{CellData.ChangedEmepData[i].DisplayID}}
                        </b></span>{{CellData.ChangedEmepData[i].Text}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item" *ngFor="let emepData of allEmepData ">
                        <div (click)="SetEmepData(i,emepData)"><span
                                [ngStyle]="{'color': emepData.DisplayColorDark} "><b> {{emepData.DisplayID
                                    +"
                                    "}}</b></span>{{emepData.Text}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #DisplayOnlyEMEP>
            <div class=" row justify-content-center text-center dropdown mb-2 h2" *ngFor="let i of [0,1,2]"
                #DisplayOnlyEMEP>
                <p *ngIf="CellData.EmepData[i].ID != null"><span
                        [ngStyle]="{'color': CellData.EmepData[i].DisplayColorDark}"><b>{{CellData.EmepData[i].DisplayID}}
                        </b></span>{{CellData.EmepData[i].Text}}</p>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer noBorder" *ngIf="DisplayButtons()">
        <button type="button" class="btn btn-outline-primary" (click)="this.Undo()">Ponastavi</button>
        <button type="button" class="btn btn-outline-danger" *ngIf="mode == modes.StandaloneEdit"
            (click)="activeModal.dismiss('Cancle click')">Prekliči</button>
        <button type="button" class="btn "
            [ngClass]="mode == modes.StandaloneEdit ? 'btn-outline-success' : 'btn-outline-primary'"
            (click)="SaveDataAndClose()">{{mode == modes.StandaloneEdit ? "Shrani" : "Potrdi"}}</button>
    </div>
</div>
<ng-template #Loading>
    <div class="py-4">
        <mat-spinner [ngStyle]="{'margin':'auto'}"></mat-spinner>
    </div>
</ng-template>