<nav class="navbar bg-primary justify-content-end stabilize-height">
    <div class="btn text-white h2 p-0 m-0 col-1 mr-5" routerLink="/" *ngIf="enableBackButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
        NAZAJ
    </div>
    <div class="col-1" *ngIf="!enableBackButton">
    </div>
    <div class="text-white h2 text-center col-8 mr-n5">{{currentPage}}</div>
    <div *ngIf="userLoggedIn; then showUserInfo else showLoginInfo"></div>

    <button class="btn-lg custom-button  p-0  col-1" (click)="ClearCache()">
        Pobriši cache
    </button>
    <ng-template #showLoginInfo>
        <button class="btn-lg custom-button  p-0  col-2" routerLink="/prijava"
            [disabled]="currentPage.toLowerCase() == 'prijava'">
            Prijava
        </button>
    </ng-template>
    <ng-template #showUserInfo>
        <div class="h3 m-0 p-0  col-1">
            {{userName ?? 'Uporabnik'}}
        </div>
        <button class="btn-lg custom-button  p-0  col-1" (click)="odjava()">
            Odjava
        </button>
    </ng-template>
</nav>