<ng-container *ngIf="initialized">

  <ng-template #graphTip let-hide>
    <div class="graphTooltip">
      <h6>Kliknite za vizualizacijo stolpca</h6>
    </div>
  </ng-template>

  <mat-table #table [dataSource]="source" class="mat-elevation-z8 my-5 text-center justify-content-center" #Table>


    <!-- additional columns -->
    <ng-container *ngFor="let columnData of additionalColumns" matColumnDef="{{columnData.Id}}">
      <mat-header-cell *matHeaderCellDef class="p-0 switchOnHover justify-content-center" 
      [tippy]="graphTip" 
      (click)="ShowGraphClick(columnData)">
        {{columnData.ShortDisplayName}}
      </mat-header-cell>
      
      <mat-cell *matCellDef="let rowData" (click)="editCellClick(rowData,columnData)" [tippy]="comp"
        [data]="{ 
          PopupData: rowData?.getVariableColumnCellData(columnData)?.PopupData
         }"
        [attr.style]="'background-color:'+(rowData.getVariableColumnCellData(columnData)?.IsBlinking ? rowData.getVariableColumnCellData(columnData)?.BlinkColor :  rowData.getVariableColumnCellData(columnData)?.Stanje)"

        [ngClass]="'p-0 justify-content-center bold-on-hover cell-base ' + rowData.getVariableColumnCellData(columnData)?.Status +  ' ' +GetCellStyle(rowData.getVariableColumnCellData(columnData)) + (rowData.getVariableColumnCellData(columnData)?.ZePreneseniVBazo == true ? ' transparent' : '') ">
        {{rowData.getVariableColumnCellData(columnData)?.DisplayValue}}
      </mat-cell>
    </ng-container>

    <!-- variable columns -->
    <ng-container *ngFor="let columnData of variableColumns" matColumnDef="{{columnData.Id}}">
      <mat-header-cell *matHeaderCellDef class="p-0 switchOnHover justify-content-center" 
      [tippy]="graphTip" 
      (click)="ShowGraphClick(columnData)">
        {{columnData.ShortDisplayName}}
      </mat-header-cell>
      
      <mat-cell *matCellDef="let rowData" (click)="editCellClick(rowData,columnData)" [tippy]="comp"
        [data]="{ 
          PopupData: rowData?.getVariableColumnCellData(columnData)?.PopupData
         }"
        [attr.style]="'background-color:'+(rowData.getVariableColumnCellData(columnData)?.IsBlinking ? rowData.getVariableColumnCellData(columnData)?.BlinkColor :  rowData.getVariableColumnCellData(columnData)?.Stanje)"

        [ngClass]="'p-0 justify-content-center bold-on-hover cell-base ' + rowData.getVariableColumnCellData(columnData)?.Status +  ' ' +GetCellStyle(rowData.getVariableColumnCellData(columnData)) + (rowData.getVariableColumnCellData(columnData)?.ZePreneseniVBazo == true ? ' transparent' : '') ">
        {{rowData.getVariableColumnCellData(columnData)?.DisplayValue}}
      </mat-cell>
    </ng-container>

    <!-- static columns -->
    <!-- urejanje vrstice  -->
    <ng-container *ngIf="IsStaticColumnDisplayed('KEY_OF_COLUMN_EditRowButton')"
      matColumnDef="KEY_OF_COLUMN_EditRowButton">
      <mat-header-cell class="p-0" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell class="p-0 justify-content-center switchOnHover" *matCellDef="let rowData"
        (click)="editRowClick(rowData.ClusterRowData)">
        <i class="fas fa-edit h3  "></i>
      </mat-cell>
    </ng-container>
    <!-- pozicija  -->
    <ng-container *ngIf="IsStaticColumnDisplayed('KEY_OF_COLUMN_Pozicija')" matColumnDef="KEY_OF_COLUMN_Pozicija">
      <mat-header-cell class="pl-2" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell class="noWrap  mr-1 justify-content-center" *matCellDef="let rowData">
        {{rowData.DisplayName}}
      </mat-cell>
    </ng-container>

    <!-- izbranost  -->
    <ng-container *ngIf="IsStaticColumnDisplayed('KEY_OF_COLUMN_Izbranost')" matColumnDef="KEY_OF_COLUMN_Izbranost">
      <mat-header-cell *matHeaderCellDef class="p-0 justify-content-center text-center scale-up ">
        <mat-checkbox [color]="'primary'" [ngStyle]="{'margin':0}" (change)="SelectAllRows($event.checked)">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="p-0 justify-content-center text-center" *matCellDef="let rowData">
        <mat-checkbox [color]="'primary'" [ngStyle]="{'margin':0}" (change)="rowData.Select($event.checked)"
          [(ngModel)]="rowData.Selected"></mat-checkbox>
      </mat-cell>
    </ng-container>


    <!-- ime tabele  -->
    <ng-container matColumnDef="header-row-first-group">
      <mat-header-cell *matHeaderCellDef class="h2 mb-0" [ngClass]="tableSubname != null ? 'tableSubname' : ''"
        [style.justify-content]="'center'" [style.text-align]="'center'" [attr.colspan]="allColumns.length">
        {{tableName}}
      </mat-header-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['header-row-first-group']; sticky:true"></mat-header-row>
    <!-- podime tabele  -->
    <ng-container *ngIf="tableSubname != null">
      <ng-container matColumnDef="header-row-second-group">
        <mat-header-cell *matHeaderCellDef class="h2 mb-0 mt-0  tableSubname" [style.justify-content]="'center'"
          [style.text-align]="'center'" [attr.colspan]="allColumns.length">
          {{tableSubname}}
        </mat-header-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['header-row-second-group']; sticky:true"> </mat-header-row>

    </ng-container>







    <mat-header-row *matHeaderRowDef="columnIDs; sticky: true"></mat-header-row>
    <mat-header-row [ngClass]="'p-0 rowStyle'" mat-row *matRowDef="let row; columns: columnIDs;"></mat-header-row>
  </mat-table>
  <div class="my-5 text-center">
    <button class="btn btn-success btn-lg" (click)="exportToExcelClick()">Izvoz podatkov v Excel</button>
  </div>
  <div class="my-5 text-center" *ngIf="inputData.TableMode == TableMode.Import; else DisplayUpdateMeritveButton ">
    <button #ImportMeritveButton class="btn btn-primary btn-lg" (click)="SendDataToDBClick(ImportMeritveButton)">Poslji podatke v novo bazo</button>
  </div>
  <ng-template #DisplayUpdateMeritveButton>
    <div class="my-5 text-center">
      <button #UpdateMeritveButton class="btn btn-primary btn-lg" (click)="UpdateCellsInDBClick(UpdateMeritveButton)">Posodobi podatke</button>
    </div>
  </ng-template>
  <div class="mt-5 pb-2"> </div>
</ng-container>