table {
    width: 100%;
  }
  
th.mat-sort-header-sorted {
    color: black;
}

.rowStyle{
    overflow: visible;
    border: 2px solid whitesmoke;
}
.rowStyle:hover {
    border: 2px solid black;
}
.mat-column-position {
    font-weight: bold;
}

.mat-header-cell{
    font-weight: bolder !important;
    color: black !important;
}
.noBorder{
    border: 0 !important;
}

.mat-sort-header-container{
    text-align: center !important;
    justify-content:center !important;
}
.bold-on-hover:hover{
    font-weight: bolder;
}
.font-small{
    font-size: 0.65rem;
}
.font-big{
    font-size: 1.3rem;
}
.scale-up{
    transform: scale(1.5);
}

.switchOnHover:hover{
    background-color: black;
    color: whitesmoke !important;
}

.mat-checkbox-layout{
    margin: 0;
}
/*
Stanja
*/
.Nespremenjeno{
    color: black;
}
.Spremenjeno{
    color: blue;
}
/*
Stili celice
*/
.cell-base{
    border: solid 0.15rem white;
}
.cell-bg-veljaven{
    border-color: white !important;
}
.cell-bg-neveljaven{
    border-color: red !important;
    text-decoration: line-through;
}
.tableSubname{
    background-color: #007bff!important;
    color: white !important;
}
.transparent{
    opacity:0.5;
}
.noWrap{
    white-space: nowrap; 
}
.graphTooltip{
    background-color: white;
    color: black;
    border:solid 0,2rem white;
    border-radius: 5%;
    padding: 0.6rem;
}


@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
      max-width: 90%;
    }
}