<div class="card">
    <div class="card-title  text-center mb-0  big">{{Title}}</div>
    <div class="card-body  ">
        <div class="noBorder card-footer w-100 mt-0 mb-4 justify-content-center p-0"  >
            <div class=" text-center bg-white"><b>Število vseh vrstic:</b> {{NumberOfRows}}</div>
            <div class=" text-center bg-white"><b>Število izbranih vrstic:</b> {{NumberOfSelectedRows}}</div>
        </div>
        <div class="noBorder card-footer w-100 bg-white justify-content-around p-0 row">
            <div class="col-6 text-center bg-white"><button  class="btn btn-sm btn-outline-success" (click)="activeModal.close(CreateModalResult(false))" >VSE VRSTICE</button></div>
            <div class="col-6 text-center bg-white "><button  class="btn btn-sm btn-outline-success" (click)="activeModal.close(CreateModalResult(true))" [disabled]="NumberOfSelectedRows == 0">SAMO OZNAČENE VRSTICE</button></div>
        </div>
    </div>
</div>
