<app-navbar [currentPage]="'Prijava'" ></app-navbar>

<div class="container ">
    <div class="row justify-content-center">
        <div class=" p-3 mt-5 border-lg col-5">
            <form>
                <div class="form-group h4 text-center">
                    <label for="formEmail">Elektronski naslov</label>
                    <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp"
                        placeholder="primer@ess.gov.si">
                </div>
                <div class="form-group h4 text-center">
                    <label for="formPassword">Geslo</label>
                    <input type="password" class="form-control" id="formPassword" placeholder="Geslo">
                </div>
                <div class="row justify-content-center mt-4">
                    <button (click)="prijava()" class="col-12 btn btn-primary ">Prijava</button>
                </div>
            </form>
        </div>
    </div>
</div>