<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href="#">Sektor za kakovost zraka - Kontrola neavtomatskih meritev </a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>