<div class=" row justify-content-center text-center dropdown mb-2">
    <button class="btn btn-secondary dropdown-toggle col-8" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{InputData.inputInfoSubject.getValue().selectedValueSubject.getValue() != undefined ? InputData.inputInfoSubject.getValue().selectedValueSubject.getValue()!.value : InputData.inputInfoSubject.getValue().name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item" *ngFor="let value of InputData.inputInfoSubject.getValue().getValues()" (click)="SelectValue(value)">
        {{value.value}}
      </div>
    </div>
</div>