<div *ngIf="allEmepData != null else Loading">
    <div class="modal-header noBorder">
        <h4 class="modal-title text-center h2 justify-content-center">{{RowData.RowName.DisplayName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <table class="table noBorder p-5">
        <!-- HEADER ROW-->
        <thead class="">
            <tr>
                <th scope="col" class="noBorder">
                    VRSTA PODATKOV
                </th>
                <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                    <th scope="col" class="noBorder">
                        {{col.ShortDisplayName}}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody class="">
            <!-- RRIMARY DATA ROWs-->
            <ng-container *ngFor="let property of GetAllCellDataProperties()">
                <tr class="my-5">
                    <th scope="col" class="noBorder va-middle">
                        {{property.PropertyDisplayName}}
                    </th>
                    <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                        <th scope="col" class="noBorder va-middle" *ngIf="mode == Modes.Edit; else DisplayMode">
                            <input class="form-control" type="text"
                                [attr.style]="'background-color:'+RowData.PrimaryRow!.getVariableColumnCellData(col).Stanje"
                                [ngClass]="[RowData.PrimaryRow!.getVariableColumnCellData(col)!.Status!.toString(), GetCellStyle(RowData.PrimaryRow!.getVariableColumnCellData(col)), IsHighlighted(RowData.PrimaryRow.getVariableColumnCellData(col))  ? 'highlighted-cell':'unhighlighted-cell']"
                                placeholder={{GetCellInitialValue(col,property.Property)}}
                                [(ngModel)]="RowData.PrimaryRow.getVariableColumnCellData(col).ChangedValue![property.Property]">
                        </th>
                        <ng-template #DisplayMode class="noBorder">
                            <th class="smallBorder text-center"
                                [ngStyle]="{'background-color' : RowData.PrimaryRow!.getVariableColumnCellData(col).Stanje}"
                                [ngClass]="[RowData.PrimaryRow!.getVariableColumnCellData(col)!.Status!.toString(),GetCellStyle(RowData.PrimaryRow!.getVariableColumnCellData(col)) ,  IsHighlighted(RowData.PrimaryRow.getVariableColumnCellData(col))  ? 'highlighted-cell':'unhighlighted-cell']">
                                {{GetCellInitialDisplayValue(col,property.Property)}}
                            </th>
                        </ng-template>

                    </ng-container>
                </tr>
            </ng-container>
            <!-- Display Data Rows-->
            <!-- Display Emep data-->
            <tr>
                <th scope="col" class="noBorder va-middle">
                    EMEP ZASTAVICE:
                </th>
                <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                    <th scope="col" class="noBorder va-middle text-center">
                        <!-- ce imamo emep zastavice, prikazemo popup-->
                        <ng-container *ngIf="CellHasEmepData(col) else NoEmepButton">
                            <div [tippy]="PopupComponent" [data]="{
                                PopupData: GetCellChangedPopupData(col),
                                TablePopupDisplayMode: TablePopupDisplayModes.EMEPOnly
                               }" class="btn btn-outline-primary"><i class="fa-solid fa-flag"></i></div>
                        </ng-container>
                        <ng-template #NoEmepButton>
                            <div class="btn btn-outline-primary disabled"><i class="fa-solid fa-flag"></i></div>
                        </ng-template>
                    </th>
                </ng-container>
            </tr>
            <!-- Display DisplayOnly Data (komentarji ponavad)-->
            <tr>
                <th scope="col" class="noBorder va-middle">
                    OSTALI PODATKI:
                </th>
                <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                    <th scope="col" class="noBorder va-middle text-center">
                        <!-- ce imamo emep zastavice, prikazemo popup-->
                        <ng-container *ngIf="CellHasDisplayProperties(col) else NoDisplayPropertiesButton">
                            <div [tippy]="PopupComponent" [data]="{
                                PopupData: GetCellPopupData(col),
                                TablePopupDisplayMode: TablePopupDisplayModes.DisplayPropertiesOnly
                               }" class="btn btn-outline-primary"><i class="fa-solid fa-clipboard"></i>
                            </div>
                        </ng-container>
                        <ng-template #NoDisplayPropertiesButton>
                            <div class="btn btn-outline-primary disabled"><i class="fa-solid fa-clipboard"></i></div>
                        </ng-template>
                    </th>
                </ng-container>
            </tr>
            <!-- Display Details-->
            <tr>
                <th scope="col" class="noBorder va-middle">
                    PODROBNOSTI:
                </th>
                <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                    <th scope="col" class="noBorder va-middle text-center">
                        <button (click)="EditCellClick(col)" class="btn btn-outline-primary"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngIf="mode == Modes.Edit">
                    <th scope="col" class="noBorder">
                        VELJAVNOST
                    </th>
                    <ng-container *ngFor="let col of RowData.VariableColumns; let i = index">
                        <th scope="col" class="noBorder checkbox-lg text-center">
                            <input type="checkbox"
                                disabled="{{RowData.PrimaryRow.getVariableColumnCellData(col).ChangedIsForcedInvalid ? 'disabled' : 'false'}}"
                                [(ngModel)]="RowData.PrimaryRow.getVariableColumnCellData(col).ChangedVeljavnost" />
                        </th>
                    </ng-container>
                </ng-container>
            </tr>

        </tbody>
    </table>
    <div class="py-3"></div>
    <div class=" container my-4" *ngIf="mode == Modes.EditOnlyEMEPAndValidity">
        <div class="form-group">
            <label for="opombeTE"> <b>komentar SKZ <span *ngIf="this.OpombaUpdatedByUser()"><i>(nekatere celice že imajo drugačno opombo in jo bo ta povozila)</i></span>:</b> </label>
            <textarea [(ngModel)]="OpombaSKZ" placeholder="{{InitialOpombaSKZ}}" class="form-control" id="opombeTE"
                rows="3"></textarea>
        </div>
    </div>

    <div class="modal-body row justify-content-around" *ngIf="mode == Modes.Edit">
        <ng-template *ngIf="CanSetAllVeljavnostToTrue(); then SetAllToValidButton else HighlightForcedInvalidCells">
        </ng-template>
        <ng-template #SetAllToValidButton><button type="button" class="col-4 btn btn-outline-success"
                (click)="SetAllCellValidity(true)">Nastavi vse podatke kot VELJAVNE</button></ng-template>
        <ng-template #HighlightForcedInvalidCells><button type="button" class="col-4 btn btn-outline-warning"
                (click)="DisplayHighlightedForcedInvalidCells()">Prikaži celice z negativno zastavico</button>
        </ng-template>
        <button type="button" class="col-4 btn btn-outline-danger" (click)="SetAllCellValidity(false)">Nastavi vse
            podatke
            kot NEVELJAVNE</button>

    </div>
    <!-- DODAJANJE ZASTAVICE-->
    <div class="modal-body row justify-content-around">
        <ng-template
            *ngIf="CanSetAllCellEmepData(); then SetAllTCellEMEPDataButton else HighlightFullEMEPDataCellsButton">
        </ng-template>
        <ng-template #SetAllTCellEMEPDataButton>
            <button type="button" class="col-4 btn btn-outline-success" (click)="SetEmepDataToAll()">Nastavi EMEP
                zastavico vsem celicam</button>
            <button class="btn btn-secondary dropdown-toggle col-4" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span
                    [ngStyle]=" {'color': NewAddEmepData?.DisplayColor}"><b>{{NewAddEmepData?.DisplayID}}</b></span>{{NewAddEmepData?.Text}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item " *ngFor="let emepData of allEmepData">
                    <div (click)="SetAddEmepData(emepData)"><span
                            [ngStyle]=" {'color': NewAddEmepData?.DisplayColor}"><b>{{emepData.DisplayID +"
                                "}}</b></span>{{emepData.Text}}</div>
                </div>
            </div>
        </ng-template>
        <ng-template #HighlightFullEMEPDataCellsButton>
            <button type="button" class="col-4 btn btn-outline-warning"
                (click)="DisplayHighlightedFullEMEPDataCells()">Prikaži celice, ki že imajo 3 zastavice</button>
            <button class="btn btn-secondary dropdown-toggle disabled col-4">Nekatere celice že imajo vse 3 emep
                zastavice</button>
        </ng-template>
    </div>

    <!-- ODSTRANJEVANJE ZASTAVICE -->
    <div class="modal-body row justify-content-around">

        <button type="button" class="col-4 btn btn-outline-danger" (click)="UnsetEmepDataToAll()">Odstrani EMEP
            zastavico vsem celicam</button>
        <button class="btn btn-secondary dropdown-toggle col-4" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span
                [ngStyle]="{'color':NewRemoveEmepData?.DisplayColor  } "><b>{{NewRemoveEmepData?.DisplayID}}</b></span>{{NewRemoveEmepData?.Text}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item " *ngFor="let emepData of allEmepData">
                <div (click)="SetRemoveEmepData(emepData)"><span
                        [ngStyle]="{'color':NewRemoveEmepData?.DisplayColor  } "><b>{{emepData.DisplayID +"
                            "}}</b></span>{{emepData.Text}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer noBorder">
        <button type="button" class="btn btn-outline-danger" (click)="closeCancel()">Prekliči</button>
        <button type="button" class="btn btn-outline-success" (click)="CloseSave()">Shrani</button>
    </div>
</div>
<ng-template #Loading>
    <div col="row">
        <mat-spinner [ngStyle]="{'margin':'auto'}"></mat-spinner>
    </div>
</ng-template>
