.Nespremenjeno{
    border-color: gray;
}
.Spremenjeno{
    border-color: blue;
}
.highlighted-cell{
    background-color: black !important;
    color: whitesmoke !important;
}
.va-middle{
    vertical-align:middle;
}
.checkbox-lg {
    transform: scale(1.3);
}
.noBorder{
    border: none !important;
}
.smallBorder{
    border: solid 0.1rem black !important;
}
.cell-bg-veljaven{
    text-decoration: none;
}
.cell-bg-neveljaven{
    text-decoration: line-through;
}