<div class="" *ngIf="CurrentlyDisplayedGraph != null">
  <!-- prikaz imena parametra (stolpca)-->
  <div class="modal-header  justify-content-center">
    <p class="modal-title h3"><b>{{ModalName}}</b></p>
  </div>
  <!-- izbira vrst padavin-->
  <div class="row justify-content-around text-center">
    <button class="col-3 btn btn-outline-primary my-5" *ngFor="let property of ValueProperties.PropertyDefinitions; let i = index"
      [ngClass]="IsPropertyVisualized(property) ? 'property-visualized' : ''"
      (click)="DisplayPropertyClick(property, i==0)"
      >{{property.PropertyDisplayName}}</button>
  </div>
  <!-- graf-->
  <div>
    <div>
      <div style="display: block" class="p-3"> 
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>