<div class="card brd">
    <div class="card-body  bg-dark">
        <p *ngFor="let emepData of DataToDisplay?.EmepData" class="card-footer line-top m-0" style="color: whitesmoke;"><b>#{{emepData.ID}}: </b>{{emepData.Text}}</p>
        <div class="noBorder card-footer w-100 mt-0 mb-1 justify-content-center p-0" style="color: whitesmoke;" *ngIf="DataToDisplay?.FullInitialPrimaryValue != null">
            <div class=" text-center smaller"><b>Točna vrednost:</b></div>
            <div class=" text-center smaller">{{DataToDisplay?.FullInitialPrimaryValue}}</div>
        </div>
        <div class="noBorder card-footer w-100  justify-content-around p-0 row" style="color: whitesmoke;" >
            <div class="col-6 text-center smaller"><button (click)="EditCellClick()" class="btn btn-sm btn-outline-light">UREDI</button></div>
            <div class="col-6 text-center smaller"><button (click)="Ponastavi()" class="btn btn-sm btn-outline-light" >PONASTAVI</button></div>
        </div>
    </div>
</div>
