<div class="card brd">
    <div class="card-body  bg-dark">
        <ng-container *ngIf="TablePopupDisplayMode == TablePopupDisplayModes.Full">
            <h5 class="card-title ttle mb-3 text-center whitesmoke"><b>Veljavnost podatka: </b>
                <ng-container *ngIf="DataToDisplay?.IsValid then valid else invalid"> </ng-container>
                <ng-template #invalid>
                    <span style="color:red"> Neveljaven</span>
                </ng-template>
                <ng-template #valid>
                    <span style="color: green"> Veljaven</span>
                </ng-template>
            </h5>
        </ng-container>
        <ng-container *ngIf="TablePopupDisplayMode != TablePopupDisplayModes.DisplayPropertiesOnly">
            <div *ngFor="let emepData of DataToDisplay?.NonNullEmepData"
                class="whitesmoke card-footer text-center line-top line m-0">
                <span [ngStyle]="{'color':emepData.DisplayColor}"><b>{{emepData.ID != null ? '#'+emepData.ID+':' : ''}} </b> </span>
                {{emepData.Text}}
            </div>
        </ng-container>
        <div *ngIf="DataToDisplay?.CellValues?.length != 0 && TablePopupDisplayMode == TablePopupDisplayModes.Full"
            class="card-footer w-100 line-top"></div>
        <ng-container *ngIf="TablePopupDisplayMode == TablePopupDisplayModes.Full">
            <div class="card-footer w-100 justify-content-center whitesmoke p-0 noBorder"
                *ngFor="let values of DataToDisplay?.CellValues">
                <div class=" text-center smaller"><b>{{values[0]}}:</b> {{values[1]}}</div>
            </div>
        </ng-container>
        <div *ngIf="DataToDisplay?.DataOnlyForDisplay?.length != 0 && TablePopupDisplayMode == TablePopupDisplayModes.Full"
            class="card-footer w-100 line-top"></div>
        <ng-container *ngIf="TablePopupDisplayMode != TablePopupDisplayModes.EMEPOnly">
            <div class="card-footer w-100 justify-content-center whitesmoke p-0 noBorder"
                *ngFor="let displayData of DataToDisplay?.DataOnlyForDisplay">
                <div class=" text-center smaller"><b>{{displayData[0]}}:</b> {{displayData[1]}}</div>
            </div>
        </ng-container>
    </div>
</div>