.dark-bg {
    background-color: black;
}

.line-top{
    border-color: whitesmoke !important;
}
.line-bot{
    border-color: whitesmoke !important;
}
.ttle{
    font-size: 1.2rem;
}
.smaller{
    font-size: 1rem;
}
.brd{
    border: 1rem;
    border-radius: 10%;
    border-style: solid;

}
.whitesmoke{
    color:whitesmoke;
}
.noBorder{
    border: none !important;
}
