/* You can add global styles to this file, and also import other style files */
.custom-button:hover
{
    color: white;
    background-color: black !important;
}
.custom-button{
    background-color: white !important;
}
.shadowOnHover {
    transition: box-shadow .2s;
}
.shadowOnHover:hover {
    box-shadow: 0 0 30px rgba(33,33,33,.2); 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
