<app-navbar [currentPage]="''" [enableBackButton]="false"></app-navbar>
<div class="container">
    <div class="row">
        <div class="row justify-content-around mt-5"> 
            <div class="card col-5 py-3 my-4 text-center shadowOnHover " routerLink="pmdelci">
                <div class="card-body">
                    <h1>PM-DELCI</h1>
                </div>
            </div>
            <div class="card col-5 py-3 my-4 text-center shadowOnHover " routerLink="kovine">
                <div class="card-body">
                    <h1>Padavine - TEŽKE KOVINE</h1>
                </div>
            </div>
            <div class="card col-5 py-3 my-4 text-center shadowOnHover " routerLink="ionipahi">
                <div class="card-body">
                    <h1>Padavine - IONI</h1>
                </div>
            </div>
            <div class="card col-5 py-3 my-4 text-center shadowOnHover " routerLink="ionipahi">
                <div class="card-body">
                    <h1>Padavine - PAH-i</h1>
                </div>
            </div>
        </div>
    </div>
</div>
