    <h1 class="card-title text-center mt-5">{{name}}</h1>
    <div class="row justify-content-around" >
        <div class="col-4" *ngFor="let inputInfo of inputs" > 
            <app-input-dropdown [InputData]="inputInfo" #inputComponent></app-input-dropdown>
        </div>
        <div class="row justify-content-center mt-5" *ngIf="isInitialized">
            <div [className]= "displayErrorButton == false ? 'btn btn-primary col-4' : 'btn btn-danger col-4'"  (click)="GetInputData()" >{{displayErrorButton == false ? 'Prikaži podatke' : 'Izbrati morate vse parametre!'}}</div>
        </div>
    </div>

    